{% assign type_size = section.settings.collection.all_tags | size %}

<link rel="stylesheet" href="{{ 'section-collection-feature.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-collection-feature.css' | asset_url | stylesheet_tag }}</noscript>

<div class="isolate">
  <div class="collection-feature content-container{% if section.settings.reverse %} reverse {% endif %}">
    <div class="collection-feature__col collection-feature__content">
      {%- if section.settings.collection != blank -%}
        <div class="collection-feature__content__wrapper">
          <h3>{{ section.settings.collection.title }}</h3>
          <div class=".collection-feature__divider"></div>
          {%- if section.settings.collection.all_tags != blank and type_size > 1 -%}
            <div class="collection-feature__tags">
            {%- for tag in section.settings.collection.all_types -%}
              {{ tag | link_to_type }}
            {%- endfor -%}
          </div>
          {%- endif -%}
          <a href="{{ section.settings.collection.url }}"><button class="collection-feature__button">View Collection</button></a>
        </div>
      {%- endif -%}
    </div>
    <div class="collection-feature__col collection-feature__image" style="{% if section.settings.image != blank %} background-image: url({{ section.settings.image | image_url: width: 800 }}) {% endif %}" >

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection Feature",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Choose Image"
    },
    {
      "type": "checkbox",
      "id": "reverse",
      "default": false,
      "label": "Reverse Row"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Collection Feature",
      "category": "Collections"
    }
  ]
}
{% endschema %}